# .coveragerc file for coverage.py (see https://coverage.readthedocs.io/en/latest/config.html)

[run]
branch = True
source = webchanges
omit =
    .tox/*
    docs/*
    tests/*
    setup.py
    update_readme_counts.py
relative_files = True
command_line = -m pytest -v

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug:

    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
# ignore_errors = True
