# GitHub Actions docs: https://docs.github.com/en/actions/learn-github-actions
# Reference syntax: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
# Env. variables: https://docs.github.com/en/actions/reference/environment-variables#default-environment-variables
# Add'l variables: https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions

# Requires encrypted secret (see https://docs.github.com/en/actions/reference/encrypted-secrets) secrets.pypi_password


name: Tests
on: [push, pull_request, workflow_dispatch]

jobs:
  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  pre-commit:
    # Name the Job
    name: Quality assurance
    # Set the type of machine to run on
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of the repository per https://github.com/actions/checkout
      - name: Check out repo
        uses: actions/checkout@main

      # Build Python and packages per https://github.com/actions/setup-python
      - name: Set up Python
        uses: actions/setup-python@main
        with:
          python-version: '3.9'

      # Install dependencies needed by the repo: local in .pre-commit-config.yaml
      - name: Install dependencies
        run: |
          python -m pip install -U pip wheel
          if [ -f requirements.txt ]; then python -m pip install -U -r requirements.txt; fi

      # Run pre-commit cache per https://github.com/pre-commit/action
      - name: Run pre-commit
        uses: pre-commit/action@v2.0.3

  test:
    name: "Test (${{ matrix.python-version }}, ${{ matrix.os }})"
    # matrix.os is defined in strategy
    runs-on: ${{ matrix.os }}
    # Identifies any jobs that must complete successfully before this job will run
    needs: [pre-commit]
    # A strategy creates a build matrix for your jobs. You can define different variations to run each job in
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.10', '3.9', '3.8', '3.7', '3.6']
        # for valid python-version see https://github.com/actions/python-versions/blob/main/versions-manifest.json
        include:
        - os: ubuntu-latest
          pipcachepath: ~/.cache/pip
        - os: macos-latest
          pipcachepath: ~/Library/Caches/pip
        - os: windows-latest
          pipcachepath: ~\AppData\Local\pip\Cache

    env:
      commitmsg: ${{ github.event.head_commit.message }}  # only available at check-out; becomes env.commitmsg

    steps:
      # Checks out a copy of the repository per https://github.com/actions/checkout
      - name: Check out repo
        uses: actions/checkout@main

      # Build Python and packages per https://github.com/actions/setup-python
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@main
        with:
          python-version: ${{ matrix.python-version }}

      # Cache and reuse dependencies between runs
      # https://docs.github.com/en/actions/guides/building-and-testing-python#caching-dependencies
      - name: Cache
        uses: actions/cache@main
        with:
          path: ${{ matrix.pipcachepath }}
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-${{ matrix.python-version }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys:  ${{ runner.os }}-${{ matrix.python-version }}-pip-

      - name: Install dependencies
        # pip -e installs a project in editable mode (i.e. setuptools “develop mode”) from a local project path
        run: |
          python -m pip install -U pip setuptools wheel
          python -m pip install -e .
          python -m pip install -U coveralls -r tests/requirements_testing.txt

      - name: Run tests (Linux/MacOS)
        if: runner.os == 'Linux' || runner.os == 'macOS'
        run:
          python -m pytest tests/ -v
        env:
          PYTHONUTF8: 1

      - name: Run tests (Windows)
        if: runner.os == 'Windows'
        run:
          # workaround for Windows fatal exception: access violation
          python -m pytest tests/ -v -p no:faulthandler
        env:
          PYTHONUTF8: 1

#      # below not working as pytest-cov does not create the ./coverage/lcov.info file!
#      - name: Upload LCOV coverage data to Coveralls
#        uses: coverallsapp/github-action@master
#        with:
#          github-token: ${{ secrets.github_token }}
#          flag-name: tests-${{ matrix.python-version }}-${{ matrix.os }}
#          parallel: true

      - name: Upload coverage to Coveralls (parallel)
        run: coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
          COVERALLS_FLAG_NAME: tests-${{ matrix.python-version }}-${{ matrix.os }}
          COVERALLS_PARALLEL: true

  coveralls:
    name: Finish Coveralls parallel
    needs: [test]
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls parallel finished
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true

  deploy:
    name: Deploy release
    runs-on: ubuntu-latest
    # ref https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#github-context
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    needs: [test]
    steps:
      - name: Check out repo
        uses: actions/checkout@main

      - name: Set up Python
        uses: actions/setup-python@main

      # Install pip dependencies executing setup.py
      - name: Install dependencies
        run: |
          python -m pip install -U pip setuptools wheel
          pip install -U .

      # Only building wheel; otherwise run 'python setup.py sdist bdist_wheel'
      - name: Build dist
        run: |
          python setup.py bdist_wheel

      # PyPI publish GitHub Action from https://github.com/pypa/gh-action-pypi-publish
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}

      - name: Create GitHub release
        id: create_release
        uses: actions/create-release@main
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body_path: RELEASE.rst
          draft: false
          prerelease: false
